*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --grey900: #48556a;
  --grey500: #6e8098;
  --grey400: #9daec2;
  --grey200: #ecf2f8;
}

h1 {
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.25px;
  font-weight: 700;
  color: var(--grey900);
}

p {
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.12%;
  font-weight: 500;
  color: var(--grey500);
}

strong {
  font-weight: 700;
  color: var(--grey900);
}

.date {
  color: var(--grey400);
}

body {
  font-family: "Manrope", sans-serif;
}

a {
  color: var(--grey500);
}

/* Layout */

.wrapper {
  min-height: 100vh;
  padding: 64px 24px;
  background-color: var(--grey200);
}

.card {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 40px 40px -10px rgba(201, 213, 225, 0.534);
}

.preview-img {
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px 30px 18px;
}

.share-row {
  margin-top: 24px;
  display: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  gap: 16px;
  align-items: center;
}

.profile-img {
  border-radius: 50%;
}

/* Share Button */

.share-btn {
  color: var(--grey500);
  background-color: var(--grey200);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-out;
}

.share-btn:hover {
  background-color: var(--grey500);
  color: var(--white);
}

.active {
  background-color: var(--grey500);
  color: var(--white);
}

#popup {
  display: none;
}

/* End of Share Button */

/* SHARE COMPONENT MOBILE */

.share-component-mobile {
  background-color: var(--grey900);
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 22px 30px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 12px;
}

.share-column {
  display: flex;
  align-items: center;
  gap: 24px;
}

.share-platforms {
  display: flex;
  gap: 16px;
  align-items: center;
}

.share {
  color: var(--grey400);
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

@media (min-width: 767px) {
  .wrapper {
    display: grid;
    place-content: center;
    padding: 0;
  }

  .card {
    max-width: 608px;
    width: 100%;
    display: grid;
    grid-template-columns: 229px 1fr;
  }

  .preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }

  .card-text {
    padding: 41px 34px;
  }

  .share-row {
    margin-top: 0;
  }

  .share-btn {
    display: none;
  }

  .share-btn-large {
    color: var(--grey500);
    background-color: var(--grey200);
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-out;
  }

  .share-btn-large:hover {
    background-color: var(--grey500);
    color: var(--white);
  }

  .active {
    background-color: var(--grey500);
    color: var(--white);
  }

  #popup {
    display: inline-block;
    position: relative;
  }

  .share-column {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
  }

  #popit {
    display: none;
    position: absolute;
    margin: 0 auto;
    z-index: 1000;
    width: 248px;
    background-color: var(--grey900);
    border-radius: 10px;
    left: -109px;
    bottom: 61px;
    padding: 18px 0;
    box-shadow: 0 10px 10px 0 rgba(201, 213, 225, 0.534);
  }

  .popup-share::after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 24px solid var(--grey900);
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
  }
}

@media (min-width: 1024px) {
  .card {
    max-width: 730px;
    grid-template-columns: 285px 1fr;
  }

  .card-text {
    padding: 30px 40px;
  }
}
